a {
  border-radius: 15px;
  background-color: rgb(22, 82, 32);
  width: 100px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
div {
  display: grid;
}
body {
  background-color: rgb(93, 124, 226);
}
p{
    border: 3px solid black;
    margin: 10px;
    padding: 30px 10px 50px 60px;
    color: rgb(0, 0, 0);
    background-color: rgba(29, 126, 118, 0);
}
#pp{
    background-color: tomato;
}
.ppp{
    background-color: violet;
}
.spp{
  
    background-color: yellowgreen;
}
